{{#extend "layout"}}
    {{#content "body"}}

        {{#if devices.length}}
            {{#each devices}}
                <div data-pollid="{{id}}">
                    <div>
                        {{name}}
                    </div>

                    <div class="device-poweredOnContent {{#eq status "poweredon"}}--visible{{/eq}}">
                        <button class="button --warning" data-raction="stop" data-deviceid="{{id}}">
                            Shutdown
                        </button>
                        <button class="button --warning" data-raction="restart" data-deviceid="{{id}}">
                            Reboot
                        </button>
                        <div data-ractionFeedback>

                        </div>
                    </div>

                    <div class="device-poweredOffContent {{#eq status "poweredoff"}}--visible{{/eq}}" >
                        <button class="button --success" data-raction="start" data-deviceid="{{id}}">
                            Power on
                        </button>
                    </div>

                    <div class="device-unavailableContent {{#eq status "unavailable"}}--visible{{/eq}}" >
                        Not reachable
                    </div>

                    <div class="device-restarting">
                        Device rebooting, this normally takes about {{restartDelay}} seconds
                    </div>

                    <div class="device-gettingStatus --visible">
                        Getting status ...
                    </div>

                </div>
            {{/each}}
        {{else}}
            No devices found
        {{/if}}

    {{/content}}

{{/extend}}