{{#extend "layout"}}
    {{#content "body"}}

        <h2>Dashboard</h2>

        {{#if devices.length}}
            {{#each devices}}
                <div>
                    <div>
                        {{name}}
                    </div>
                    {{#if available}}
                        {{#if poweredOn}}

                            <button data-raction="stop" data-deviceid="{{id}}">
                                Shutdown
                            </button>
                            <button data-raction="restart" data-deviceid="{{id}}">
                                Reboot
                            </button>
                            <div data-ractionFeedback>

                            </div>
                        {{else}}
                            <button data-raction="start" data-deviceid="{{id}}">
                                Power on
                            </button>
                        {{/if}}
                    {{else}}
                        Not reachable
                    {{/if}}
                </div>
            {{/each}}
        {{else}}
            No device found
        {{/if}}

    {{/content}}

{{/extend}}